@import "reset.less";

html.factor-app {
  // Primary app color
  --color-primary: #3452ff;

  // Secondary app color
  --color-secondary: #4660f3;

  // Primary text color
  --color-text: #0D0C22;
  //--color-text: #495057;
  //#0D0C22
  //#6e6d7a

  --color-text-light: #f9fafb;

  // Background color
  --color-bg: #ffffff;
  --color-bg-alt: #f9fafb; // Theme Custom
  --color-bg-dark: #222; // Theme Custom

  // Background contrast colors (e.g. hover states)
  --color-bg-contrast: #f6fafd;
  --color-bg-highlight: #edf1f5;

  // Layout border color
  --color-border: #e9ecef;

  // Placeholder text color (usually light contrast)
  --color-placeholder: #bdcad4;

  // Code color (`code`)
  --color-code: #283f63;

  // Application primary font
  --font-family-primary: "Rubik",
  /* Safari for OS X and iOS (San Francisco)*/ -apple-system,
  /* Chrome < 56 for OS X (San Francisco)*/ BlinkMacSystemFont, /* Windows*/ "Segoe UI",
  /* Android*/ "Roboto", /* Basic web fallback*/ "Helvetica Neue", Arial, sans-serif;

  // Application secondary font
  --font-family-secondary: "Archivo Black", sans-serif;

  // Font weights
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  scroll-behavior: smooth;

  a {
    color: var(--color-primary);
  }

  button.app-btn{
    font-weight: 500;
    &.primary:hover{
      background: var(--color-secondary);
    }
  }

  //inputs
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--color-placeholder);
  }

  // button,
  // input,
  // select,
  // textarea {
  //   resize: none;
  //   border: 0;
  //   font-size: 1em;
  //   box-shadow: none;
  //   padding: 0;
  // }

  button,
  select,
  input,
  textarea,
  select,
  .checkbox-label {
    font-family: var(--font-family-primary);
  }

  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  textarea {
    -webkit-appearance: none;
    border: 1px solid var(--color-border);
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
  textarea,
  select {
    padding: 0.5em;
    background-color: var(--input-bg);
    box-shadow: var(--box-shadow-input);
    border-radius: 4px;
    width: 100%;
  }
}
