@import "reset.less";
@import "entry-content.less";
@import "inputs.less";

.ui-app {
  color: var(--color-text);
  background: var(--color-bg-alt);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  --font-weight-bold: 800;
  --font-weight-normal: 400;

  strong {
    font-weight: var(--font-weight-bold);
  }

  a {
    color: var(--color-primary);

    &:hover {
      color: var(--color-secondary);
    }
  }

  .nav-light {
    .site-head {
      background: #1b223c;

      .logo-img .thelogotext {
        fill: var(--color-light);
      }

      .mobile-logo .logo-img .thelogotext {
        fill: initial;
      }

      .nav>a {
        color: var(--color-light);

        &:hover {
          color: var(--color-primary);
        }

        @media (max-width: 767px) {
          color: initial;
        }
      }
    }
  }
}