@import "reset.less";

.factor-dashboard {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --color-primary: #0471ff;
  --color-secondary: #0496ff;
  --color-text: #506677;
  --color-placeholder: #bdcad4;

  --color-primary-sub: #62bdff;
  --color-success: #26d12b;
  --color-info: #fdf700;
  --color-warning: #ff0076;
  --color-danger: #ff0076;
  --color-facebook: #4568b2;
  --color-bg: #fafbff;
  --color-bg-alt: #ffffff;
  --color-border: rgba(0, 0, 0, 0.07);

  --font-weight-bold: 600;
  --font-weight-normal: 500;

  --border-color-subtle: rgba(84, 110, 195, 0.1);

  --canvas-bg: #f3f5fa;

  --input-bg: #fcfdff;

  --box-shadow-input: 0 0 0 1px rgba(0, 43, 93, 0.2);

  --pane-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);

  color: var(--color-text);
  background: #fff;
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;

  strong {
    font-weight: 700;
  }

  a {
    color: var(--color-primary);

    &:hover {
      color: var(--color-secondary);
    }
  }

  // INPUTS

  ::-webkit-input-placeholder {
    color: var(--color-placeholder);
  }

  button {
    box-shadow: none;
    border: 0;
    font-size: 1em;
  }
  input,
  select,
  textarea {
    resize: none;
    border: 0;
    font-size: 1em;
    box-shadow: none;
    padding: 0;
  }

  button,
  select,
  input,
  textarea,
  select,
  .checkbox-label {
    font-family: var(--font-family-primary);
  }

  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  textarea {
    -webkit-appearance: none;
  }

  input,
  textarea {
    line-height: 1.2;
  }

  [type="checkbox"],
  [type="radio"] {
    margin: 0;
    width: auto;
    display: inline-block;
    box-shadow: none;
  }

  input,
  textarea,
  select {
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    border: 0;
    font-weight: 500;
    color: var(--color-text);
    background-color: transparent;

    &.disabled {
      opacity: 0.5;
    }

    &.dropdown,
    &.toggle,
    &.range {
      border: 0;

      &:hover,
      &:focus {
        border: none;
      }
    }

    &::placeholder {
      /* Chrome/Opera/Safari */
      color: var(--color-placeholder);
    }
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
  textarea,
  select {
    // background-color: var(--input-bg);
    box-shadow: var(--box-shadow-input);
    border-radius: 4px;
    //   width: 100%;
  }
}
