@import "reset.less";
@import "entry-content.less";
@import "inputs.less";

.factor-app {
  color: var(--color-text, #303030);
  background: var(--color-bg, #ffffff);
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: var(--font-weight-normal, 400);


  strong {
    font-weight: var(--font-weight-bold, 800);
  }

  a {
    color: var(--color-primary, #1a49bd);
  }
}