service cloud.firestore {
  match /databases/{database}/documents {
  
     // Is on an edge field only (better for testing w no claims as represents user experience)
    function isMember() {
      return request.auth.uid != null && 
        (request.auth.uid in resource.data.members || request.auth.uid in resource.data.authors)
    }

    function isAdmin(){
      return request.auth.token.admin || request.auth.token.developer || request.auth.token.moderator
    }

        // Is on an edge field or has authority claim
    function isMemberOrEditor() {
       return isMember() || isAdmin()  
    }
    


    match /private/{id}{
      allow read, create, update, delete: if request.auth.uid == id || isMemberOrEditor(); 
    }

    match /public/{id}{
      allow read;
      allow create, update, delete: if request.auth.uid == id || isMemberOrEditor(); 
    }


  }
}