<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" sizes="48x48" href="/static/favicon.png" />
    <meta name="theme-color" content="#FFFFFF" />

    <title>{{ metatags.title }}</title>
    <meta name="description" content="{{ metatags.description }}" />

    <link rel="canonical" href="{{ metatags.canonical }}" />
    <meta property="og:image" content="{{ metatags.image }}" />
    <meta property="og:description" content="{{ metatags.description }}" />
    <meta property="og:url" content="{{ metatags.canonical }}" />
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
