/xcache

dist
**/dist
**/rendered

.DS_Store
**/node_modules/**
coverage
temp
temp.*
explorations
TODOs.md

.env
.env*

# Vitepress
**/.vitepress/dist
**/.vitepress/cache

# wireguard/tunnels
wire.*

# debugging
.ts-node
*.log

# Local .terraform directories
**/.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# Ansible/Python
.venv/
.venv*/
*.retry
/___*.yml

