shamefully-hoist=true
prefer-workspace-packages=true

# https://pnpm.io/npmrc
# required to authenticate to NPM on publish
# the -'' is the fallback, otherwise this errors if NPM_TOKEN isnt able to be found
//registry.npmjs.org/:_authToken=${NPM_TOKEN-''}
