shamefully-hoist=true
prefer-workspace-packages=true

# https://answers.netlify.com/t/support-guide-using-private-npm-modules-on-netlify/795
# required to authenticate to NPM on publish
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
