# shamefully hoisted because built apps wont have access to their dependencies if those
# dependencies are from sub packages.
shamefully-hoist=true

# not needed, but intuitively makes sense to have this set to true
prefer-workspace-packages=true

# https://pnpm.io/npmrc
# required to authenticate to NPM on publish
# the -'' is the fallback, otherwise this errors if NPM_TOKEN isnt able to be found
//registry.npmjs.org/:_authToken=${NPM_TOKEN-''}
