service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
    }

    match /user/{userId}/{allPaths=**} {
      allow write, update: if request.auth.uid == userId && request.resource.size < 30 * 1024 * 1024;
    	allow delete: if request.auth.uid == userId;
    }


    match /listing/{listingId}/{allPaths=**} {
      allow write, update;
    }

    match /posts/{id}/{allPaths=**} {
      allow write, update, delete: if request.auth.token.admin == true
    }
  }
}
