@import "tailwindcss"
@plugin '@egoist/tailwindcss-icons';

body {
  background: red;
}


@theme {
  /* Theme color scale */
  --color-theme-0: var(--theme-0, 255 255 255); /* Fallback to white */
  --color-theme-25: var(--theme-25, 248 250 252);
  --color-theme-50: var(--theme-50, 243 244 246);
  --color-theme-100: var(--theme-100, 229 231 235);
  --color-theme-200: var(--theme-200, 209 213 219);
  --color-theme-300: var(--theme-300, 156 163 175);
  --color-theme-400: var(--theme-400, 107 114 128);
  --color-theme-500: var(--theme-500, 75 85 99);
  --color-theme-600: var(--theme-600, 55 65 81);
  --color-theme-700: var(--theme-700, 31 41 55);
  --color-theme-800: var(--theme-800, 17 24 39);
  --color-theme-900: var(--theme-900, 12 10 19);
  --color-theme-950: var(--theme-950, 3 7 18);
  --color-theme-975: var(--theme-975, 2 6 15);
  --color-theme-1000: var(--theme-1000, 0 0 0);

  /* Primary color scale */
  --color-primary-0: var(--primary-0, 255 255 255); /* Fallback to white */
  --color-primary-25: var(--primary-25, 239 246 255);
  --color-primary-50: var(--primary-50, 239 246 255);
  --color-primary-100: var(--primary-100, 219 234 254);
  --color-primary-200: var(--primary-200, 191 219 254);
  --color-primary-300: var(--primary-300, 147 197 253);
  --color-primary-400: var(--primary-400, 96 165 250);
  --color-primary-500: var(--primary-500, 59 130 246);
  --color-primary-600: var(--primary-600, 37 99 235);
  --color-primary-700: var(--primary-700, 29 78 216);
  --color-primary-800: var(--primary-800, 30 64 175);
  --color-primary-900: var(--primary-900, 30 58 138);
  --color-primary-950: var(--primary-950, 23 37 84);
  --color-primary-975: var(--primary-975, 17 28 68);
  --color-primary-1000: var(--primary-1000, 0 0 0);
}
