.factor-app {
  --highlight-code-font: "Roboto Mono", Monaco, courier, monospace;
  --highlight-code-bg: #fff;
  --highlight-code-color-text: var(--color-text, #3a4854);
  --highlight-code-color-selector: #0471ff;
  --highlight-code-color-tag: #0471ff;
  --highlight-code-color-punctuation: #849db3;
  --highlight-code-color-comment: #7194b3;
  --highlight-code-color-variable: #ff7700;
  --highlight-code-color-keyword: #ff7700;
  --highlight-code-color-property: #7194b3;
  --highlight-code-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}
