.input-item {
  margin: 1.5rem 0;
}
.input-item label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--color-placeholder);
  letter-spacing: 0.5px;
  font-size: 0.9em;
}
.input-item .description {
  margin: 0.5rem 0 0;
  opacity: 0.2;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.input-item input {
  background-color: var(--color-bg-contrast);
  font-size: 1.2rem;
}
