@import "reset.less";

.ui-app {
  --color-primary: #0496ff; // Slightly Darker Alt #2a74e5
  --color-primary-rgb: 42, 116, 229; //4, 150, 255
  --color-secondary: #ff0076;
  --color-tertiary: #eff6ff;
  --color-text: #506677;
  --color-light: #fafbff;
  --color-placeholder: #bdcad4;


  --color-success: #42b983;
  --color-info: #62bdff;
  --color-warning: #ff6464;
  --color-danger: #ff0076;
  --color-code: #e83b0e;

  --color-bg: #ffffff;
  --color-bg-alt: #f6f9fc;
  --color-bg-dark: var(--color-text);

  --font-primary: "canada-type-gibson",
    /* Safari for OS X and iOS (San Francisco) */
    -apple-system,
    /* Chrome < 56 for OS X (San Francisco)  */
    BlinkMacSystemFont,
    /* Windows  */
    "Segoe UI",
    /* Android  */
    "Roboto",
    /* Basic web fallback  */
    "Helvetica Neue",
    Arial, sans-serif;

  --panel-shadow: 0 0 1px rgba(58, 55, 148, 0.25),
    0 6px 14px 0 rgba(24, 32, 41, 0.06), 0 12px 34px 0 rgba(24, 32, 41, 0.04);

  --input-shadow: 0 0 0 1px rgba(0, 43, 93, 0.2);


  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  --font-weight-bold: 800;

  strong {
    font-weight: var(--font-weight-bold);
  }

  a {
    color: var(--color-primary);


    &:hover {
      color: var(--color-secondary);
    }
  }



  @import "entry-content.less";
  @import "inputs.less";

}