.loader-app {
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--color-placeholder);
  }

  button,
  input,
  select,
  textarea {
    resize: none;
    border: 0;
    font-size: 1em;
    box-shadow: none;
    padding: 0;
  }

  button,
  select,
  input,
  textarea,
  select,
  .checkbox-label {
    font-family: var(--font-family-primary);
  }

  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  textarea {
    -webkit-appearance: none;
  }

  input,
  textarea {
    line-height: 1.2;
  }

  [type="checkbox"],
  [type="radio"] {
    margin: 0;
    width: auto;
    display: inline-block;
    box-shadow: none;
  }

  input,
  textarea,
  select {
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    border: 0;
    font-weight: 500;
    color: var(--color-text);
    background-color: transparent;

    &.disabled,
    &[disabled] {
      opacity: 0.5;
    }

    &.dropdown,
    &.toggle,
    &.range {
      border: 0;

      &:hover,
      &:focus {
        border: none;
      }
    }

    &::placeholder {
      /* Chrome/Opera/Safari */
      color: var(--color-placeholder);
    }
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
  textarea,
  select {
    background-color: #f8fafb;
    box-shadow: var(--box-shadow-input), inset 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 100%;
  }
}
