@charset "utf-8";

@import "./reset.scss";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Kanit:300|Prompt:400,600&display=swap');

// Bulma Variables
$family-primary: 'Kanit',
BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;

$family-secondary: 'Prompt',
BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;

$title-family: $family-secondary;

$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 800;

$body-weight: $weight-normal;

// Colors
$turquoise: #00d1b2;
$primary: $turquoise;

$link: $primary;
$info: #209cee;
$success: #23d160;
$warning: #ffdd57;
$danger: #ff3860;
$dark: #293347;
$grey-dark: #34495E;
$primary-dark: #1E392A;

$body-background-color: #f5f5f5;
$text: $dark;
$body-color: $text;
$title-color: $text;
$subtitle-color: $text;
$subtitle-strong-color: $text;
$link-hover: $primary-dark;

//Layout
$section-padding: 3.5rem 1.25rem;

//Form
//$control-border-width: 1px;
//$input-border-color: transparent;
//$input-shadow: none;
$input-bg: #fff;
$input-box-shadow:none;

//Elements
$box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

//Components
$navbar-dropdown-arrow: $primary;
$menu-label-spacing: 2em;

@import "bulma/bulma.sass";

// Assign sass variables to css. Notes: https://github.com/sass/libsass/issues/2621
.ui-app {
  --weight-normal: #{$weight-normal};
  --weight-semibold: #{$weight-semibold};
  --weight-bold: #{$weight-bold};

  --family-secondary: #{$family-secondary};

  --primary: #{$primary};
  --info: #{$info};
  --dark: #{$dark};

  --section-padding: #{$section-padding};
}

//The following css are modifications for the theme and are not part of the Bulma framework

.title {
  font-family: var(--family-secondary);
}

// select option:checked {
//   background-color: linear-gradient(bottom, $primary 0%, $primary 100%);
//   background: $primary -webkit-linear-gradient(bottom, $primary 0%, $primary 100%);
// }

//Bulma modifications CSS
.is-sticky {
  position: sticky;

  &.is-sticky-top {
    top: 0;
  }
}

.button.is-link {
  background-color: var(--info);

  &:hover,
  &:active {
    background-color: var(--info);
  }
}

.card,
.box {
  &.is-fullheight {
    height: 100%
  }
}

//Theme-specific CSS
.section.call-to-action {
  margin-top: 5.5em;

  .box {
    padding: var(--section-padding);
    margin-top: -9rem;
    background-color: var(--dark);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--dark);
  }
}